@model MvcMusicStore.Models.Album

@{
    ViewBag.Title = "Delete";
}
<div class = "container">
    <div class = "row span12">
<h2>Delete Confirmation</h2>

<p>Are you sure you want to delete the album titled 
   <strong>@Model.Title</strong>?
</p>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" />
    </p>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>

}
</div>
</div>