@model IEnumerable<MvcMusicStore.Models.Genre>

@foreach (var genre in Model)
{
    <li>
        <a href = "@Url.Action("details","genres",new{id = genre.GenreId})">
            @genre.Name
        </a>
    </li>
}
