@model IEnumerable<MvcMusicStore.Models.Genre>

@foreach (var genre in Model)
{
    <li>@Html.ActionLink(genre.Name, 
            "Browse", "Store", 
            new { Genre = genre.Name }, null)
    </li>
}
